<div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal" style="padding: 0.5em">
        <a href="/" class="pure-menu-heading">Konactivity</a>
        <ul style="float:right; padding-right: 20px">
            {% if user.is_authenticated %}
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="#">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>