{% extends 'layouts/layout.html' %}
{% load staticfiles %}
{% block page_content %}
{% if user.is_authenticated %}
<script>
    document.location = "/home";
</script>
{% else %}
<div class="pure-g-r">
    <div class="pure-u-1-5">
        &nbsp;
    </div>
    <div class="pure-u-3-5" style="text-align: center">
        <h1 style="font-weight: 100">Connect randomly</h1>
        <img src="{% static 'img/facepile.png' %}" alt="Facepile" style="width: 100%">
        <br><br><br>
        <a href="https://www.facebook.com/dialog/oauth?client_id=557603244304943&response_type=code%20token&scope=user_location,user_likes&redirect_uri=http://10.105.14.157:8000/login" target="_parent"><img src="{% static 'img/facebook_login_button.png' %}" alt="Login"></a>
    </div>
</div>
{% endif %}
{% endblock %}